<div class="flex-wrapper">
  <mat-card>
    <mat-card-content class="content-flex">
      <img class="imagenReducida" mat-card-image src="../../../../assets/activo.png" alt="Descripción de la imagen">
      <div>
        <h2>Recursos compartidos por el docente</h2>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<br>
<p-table [value]="archivos" responsiveLayout="scroll" class="table">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre del archivo</th>
      <th>Tipo de archivo</th>
      <th>Tamaño (MB)</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-archivo>
    <tr>
      <td>{{ obtenerNombreSinExtension(archivo.nombreArchivo) }}</td>
      <td>{{ obtenerExtensionArchivo(archivo.tipoArchivo) }}</td>
      <td>{{ convertirTamanoA_MB(archivo.tamanoArchivo) | number: '1.2-2' }}</td>
      <td>
        <button pButton type="button" icon="pi pi-download"(click)="descargarArchivo(archivo.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>



  
