
<div class="flex-wrapper">
  <mat-card>
    <mat-card-content class="content-flex" fxLayout="row" fxLayoutAlign="space-between">
      <img class="imagenReducida" mat-card-image src="../../../../assets/activo.png" alt="Descripción de la imagen">
      <div style="margin-top: 10px; text-align: center;">  <h2 class="titulo p-text-uppercase p-text-bold">Recursos compartidos por el docente</h2>
      </div>
      <div class="buttons-header">
      <button pButton type="button" icon="pi pi-arrow-circle-left"  [routerLink]="['/user-dashboard/asignaturas']"></button>
    </div>
    </mat-card-content>
  </mat-card>
</div>


<br>
<p-table [value]="archivos" responsiveLayout="scroll" class="table">
  <ng-template pTemplate="header">
    <tr>
      <th >Nombre del archivo</th>
      <th style="text-align: center;">Tipo de archivo</th>
      <th style="text-align: center;">Tamaño (MB)</th>
      <th style="text-align: center;">Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-archivo>
    <tr>
      <td>{{ obtenerNombreSinExtension(archivo.nombreArchivo) }}</td>
      <td>{{ obtenerExtensionArchivo(archivo.tipoArchivo) }}</td>
      <td>{{ convertirTamanoA_MB(archivo.tamanoArchivo) | number: '1.2-2' }}</td>
      <td>
        <button pButton type="button" icon="pi pi-download"(click)="descargarArchivo(archivo.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>



  
