  <div class="flex-wrapper">
      <mat-card>
        <mat-card-content>
          <h1>Bienvenido, Estudiante</h1>
          <p>
            Estás a punto de embarcarte en un viaje de aprendizaje en línea. Evalúa tus conocimientos a través de lecciones de opción múltiple y, al final, disfruta de nuestros videos recomendados para fortalecer tus habilidades.
          </p>
          <button mat-raised-button color="primary" routerLink="/user-dashboard/load-examen">Ver lecciones</button>
        </mat-card-content>
      </mat-card>
    </div>
    