<div class="flex-wrapper">
  <mat-card>
    <mat-card-content class="content-flex">
      <img class="imagenReducida" mat-card-image src="../../../../assets/estudio.png" alt="Descripción de la imagen">
      <div>
        <h1>Bienvenido, Estudiante</h1>
        <p>
          Estás en el módulo de estudiante, donde puedes generar organizadores gráficos, evaluar tus conocimientos a través de cuestionarios y reforzar tus conocimientos.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
