.question-form-container {
  display: flex;
  align-items: center;
  height: 150vh;
  background-color: #f2f2f2;
}

.question-form {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 90%;
  max-width: 1600px;
  text-align: center;
}

.question-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.highlight {
  color: #FF5722;
}

.card {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.card-header h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.generate-button-container {
  text-align: right;
}

.generate-button {
  background-color: #FF5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.generate-button:hover {
  background-color: #D84315;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

textarea, input[type="text"], select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Esta es la distancia entre las opciones, puedes ajustarla según sea necesario */
}

.option {
  flex: 0 0 48%; /* Esto hará que cada opción tenga un ancho máximo del 48% del contenedor */
  /* La suma del porcentaje de flex-basis y el espacio (gap) debe ser <= 100% para que dos elementos quepan por fila */
  box-sizing: border-box; /* Asegúrate de que padding y border estén incluidos en el ancho */
  margin-bottom: 10px; /* Espacio debajo de cada opción */
}

.save-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.save-button:hover {
  background-color: #45a049;
}

.button-space {
  margin-left: 10px; /* Ajusta el valor según el espacio deseado */
}


.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; /* Permite al usuario ajustar el tamaño verticalmente si es necesario */
}