<mat-toolbar color="primary">
  <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
    <mat-icon>desktop_windows</mat-icon>
  </a>
  <span>EduGeniusAI</span>
  <span class="example-spacer"></span>

  

  <button *ngIf="isLoggedIn" (click)="logout()" mat-flat-button color="primary">
    Cerrar sesión
  </button>

  <button *ngIf="isLoggedIn && user" mat-flat-button color="primary" routerLink="/admin/profile">
    {{ user.username }}
  </button>
</mat-toolbar>
