<div class="bootstrap-wrapper" *ngIf = "!esEnviado">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Instrucciones-->
        <mat-card style = "margin-top: 70px;">
          <mat-card-content>
            <h3><b>Instrucciones</b></h3>
            <ul>
              <li>No cambies la pestaña</li>
              <li>No minimices la ventana</li>
            </ul>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-7">
        <!--Preguntas-->
        <ng-container *ngIf = "preguntas">
          <h1 class="mt20">
            En curso <b>{{ preguntas[0].examen.titulo }}</b>

          </h1>
        </ng-container>

        <mat-card *ngFor = "let p of preguntas;let i = index">
          <mat-card-content>
            <p><b>{{ i+1 }}) </b> <span [innerHTML] = "p.contenido"></span></p>
            <mat-divider></mat-divider>
            <div class="row mt20">
              <div class="col-md-8 mt10">
                <input [(ngModel)] = "p.respuestaDada" type="radio" [value] = "p.opcion1" name = {{i}}> {{ p.opcion1 }}
              </div>
              <div class="col-md-8 mt10">
                <input [(ngModel)] = "p.respuestaDada" type="radio" [value] = "p.opcion2" name = {{i}}> {{ p.opcion2 }}
              </div>
              <div class="col-md-8 mt10">
                <input [(ngModel)] = "p.respuestaDada" type="radio" [value] = "p.opcion3" name = {{i}}> {{ p.opcion3 }}
              </div>
              <div class="col-md-8 mt10">
                <input [(ngModel)] = "p.respuestaDada" type="radio" [value] = "p.opcion4" name = {{i}}> {{ p.opcion4 }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="container text-center mt20 mb20">
          <button (click) = "enviarCuestionario()" mat-raised-button color="primary">Enviar cuestionario</button>
        </div>
      </div>
      <div class="col-md-3">
        <!--Progreso-->
        <mat-card style ="margin-top:70px;">
          <mat-card-header>
            <mat-card-title style="text-align: center;">
              Tiempo
            </mat-card-title>
            <mat-card-subtitle>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h1 class="text-center">{{ obtenerHoraFormateada() }}</h1>
            <mat-progress-bar mode="determinate" [value]= "(timer/(this.preguntas?.length * 2 * 60)*100)"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="bootstrap-wrapper" *ngIf = "esEnviado">
  <div class="container mt20">
    <div class="col-md-10 offset-md-1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Resultado de la prueba
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <h1>Puntos conseguidos : {{ puntosConseguidos }}</h1>
          <h1>Respuestas correctas : {{ respuestasCorrectas }}</h1>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button (click) = "imprimirPagina()" mat-raised-button color="primary" style="left: 250px;">Imprimir</button>
          <button (click)="abrirVideos()" mat-raised-button color="accent" style="left: 260px;">Videos Recomendados</button>
          <button mat-raised-button color="warn" [routerLink] = "'/user-dashboard/load-examen'"style="left: 270px;">Inicio</button>
        </mat-card-actions>


        <mat-card-content>
          <h2>Preguntas Fallidas:</h2>
          <mat-card *ngFor="let pregunta of preguntasFallidas" class="pregunta-card">
            <mat-card-title>
              <mat-icon color="warn">error</mat-icon>
              {{ pregunta.contenido }}
            </mat-card-title>
        
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let opcion of [pregunta.opcion1, pregunta.opcion2, pregunta.opcion3, pregunta.opcion4]">
                  <span *ngIf="opcion === pregunta.respuesta" class="opcion-correcta">{{ opcion }}</span>
                  <span *ngIf="opcion !== pregunta.respuesta">{{ opcion }}</span>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
        
            <mat-card-actions class="card-actions">
              <div class="resultados">
                <p><strong>Respuesta correcta: </strong> {{ pregunta.respuesta }}</p>
                <p><strong>Tu respuesta: </strong> <span class="respuesta-incorrecta">{{ pregunta.respuestaDada }}</span></p>
                <p><strong>Justificación: </strong> <span class="justificacion">{{ pregunta.justificacion }}</span></p>
              </div>


              <div class="flex-spacer"></div>
              <a mat-button color="accent" [href]="pregunta.url" target="_blank">
                <mat-icon>launch</mat-icon>
                Leer más
              </a>
            </mat-card-actions>
            
          </mat-card>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>