<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

<div class="flex-wrapper">
  <mat-card>
    <mat-card-content class="content-flex" fxLayout="row" fxLayoutAlign="space-between">
      <img class="imagenReducida" mat-card-image src="../../../../assets/menu2.png" alt="Descripción de la imagen">
      <div style="margin-top: 10px; text-align: center;">  <h2 class="titulo p-text-uppercase p-text-bold">Cuestionarios Disponibles</h2>
      </div>
      <div class="buttons-header">
      <button pButton type="button" icon="pi pi-arrow-circle-left"  [routerLink]="['/user-dashboard/asignaturas']"></button>
    </div>
    </mat-card-content>
  </mat-card>
</div>




<div class="row mt20" *ngIf="examenes">
  <div class="col-md-6" *ngFor="let e of examenes">
    <mat-card class="mb20 custom-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
        </div>
        <mat-card-title class="title">
          {{ e.titulo }}
        </mat-card-title>
        <mat-card-subtitle class="text-categoria">
          {{ e.categoria.titulo }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="text-descripcion">
        <p>{{ e.descripcion }}</p>
      </mat-card-content>
      <mat-card-actions class="button-align">
        <p-button label="Empezar" [text]="true" severity="secondary" 
        [routerLink]="['/user-dashboard/instrucciones', e.examenId]" 
        [queryParams]="{ catId: catId }">
      </p-button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-12" *ngIf="examenes.length == 0">
    <mat-card class="empty-card">
      <mat-card-content>
        <h1 class="p-text-center p-text-muted">No hay Test activos</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
