<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidone">
    <mat-nav-list appAccordion class="accordion">
    
      <mat-card class="menu-card" routerLink="/user-dashboard/asignaturas"routerLinkActive="active-link">
          <div class="menu-item">
            <img src="../../../../assets/biblioteca.png" class="menu-icon"/> <!-- Add your icon here -->
            <mat-card-content class="menu-content">
              <mat-card-title>Mis asignaturas</mat-card-title>
              <mat-card-subtitle>Accede a contenidos educativos de cada asignatura</mat-card-subtitle>
            </mat-card-content>
          </div>
        </mat-card>
        <br>
        <mat-card class="menu-card" routerLink="/user-dashboard/organizador-grafico" routerLinkActive="active-link">
          <div class="menu-item">
            <img src="../../../../assets/mapa.png" class="menu-icon"/> <!-- Add your icon here -->
            <mat-card-content class="menu-content">
              <mat-card-title>Organizadores Gráficos</mat-card-title>
              <mat-card-subtitle>Genera organizadores gráficos sobre un tema de interés</mat-card-subtitle>
            </mat-card-content>
          </div>
        </mat-card>
        <br>
        <mat-card class="menu-card" routerLink="/user-dashboard/profile-user" routerLinkActive="active-link">
          <div class="menu-item">
            <img src="../../../../assets/usuario.png" class="menu-icon"/> <!-- Add your icon here -->
            <mat-card-content class="menu-content">
              <mat-card-title>Mis Datos Personales</mat-card-title>
              <mat-card-subtitle>Revisa tu información personal</mat-card-subtitle>
            </mat-card-content>
          </div>
        </mat-card>
</mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content goes here -->
  </mat-sidenav-content>
</mat-sidenav-container>
