<mat-card>
  <mat-action-list>
    <div mat-subheader>Menú</div>
    <button routerLink="/user-dashboard/load-examen" mat-list-item>
      <mat-icon mat-list-icon>assignment</mat-icon>Lecciones
    </button>

    <button routerLink="/user-dashboard/resources" mat-list-item>
      <mat-icon mat-list-icon>perm_media</mat-icon> Resources
    </button>

    <button routerLink="/user-dashboard/profile-user" mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
    </button>
    
    
  </mat-action-list>
</mat-card>

  
  