<div class="text-center">
  <h1 class="titulo-registro">
    <img src="../../../assets/usuario.png" class="icono-registro" alt="Icon">
    Regístrate aquí
  </h1>
</div>

<form (ngSubmit)="formSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          <mat-icon>person</mat-icon>
          Nombre de Usuario
        </mat-label>
        <input required [(ngModel)]="user.username" name="username" matInput placeholder="Escriba su nombre de usuario">
        <mat-hint>El nombre del usuario debe ser único</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          <mat-icon>lock</mat-icon>
          Contraseña
        </mat-label>
        <input required [(ngModel)]="user.password" name="password" type="password" matInput
          placeholder="Escriba su contraseña">
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          <mat-icon>person</mat-icon>
          Nombres
        </mat-label>
        <input [(ngModel)]="user.nombre" name="nombre" matInput placeholder="Escriba su Nombres">
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          <mat-icon>person</mat-icon>
          Apellidos
        </mat-label>
        <input [(ngModel)]="user.apellido" name="apellido" matInput placeholder="Escriba sus Apellidos">
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          <mat-icon>email</mat-icon>
          Correo electrónico
        </mat-label>
        <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Escriba su Email">
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          <mat-icon>phone</mat-icon>
          Contacto
        </mat-label>
        <input [(ngModel)]="user.telefono" name="telefono" matInput placeholder="Escriba su numero de Contacto">
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          <mat-icon>assignment_ind</mat-icon>
          Nro. Identidad
        </mat-label>
        <input [(ngModel)]="user.identidad" name="identidad" matInput placeholder="Escriba su numero de Identidad">
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          <mat-icon>assignment_ind</mat-icon>
          Rol
        </mat-label>
        <mat-select [(ngModel)]="user.rolFormulario" name="rol">
          <mat-option value="docente">Docente</mat-option>
          <mat-option value="estudiante">Estudiante</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  
  <div class="container text-center">
    <button mat-raised-button color="primary" class="mat-button mr-2">
      <mat-icon>person_add</mat-icon>
      Registrar
    </button>
    <button type="button" mat-raised-button color="warn" class="mat-button" (click)="CloseModal()">
      <mat-icon>clear</mat-icon>
      Cancelar
    </button>
  </div>
</form>
<br><br><br>
