/* Estilos para el mat-card de registro */
.login-card {
    background-color: #ffffff; /* Color de fondo similar al del login */
    color: white; /* Texto blanco */
    border-radius: 16px; /* Bordes redondeados para el card */
    padding: 16px; /* Espaciado interno */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); /* Sombra suave */
  }
  
  /* Estilos para el título "Regístrate aquí" */
  .login-card h1 {
    font-size: 24px; /* Tamaño de fuente más grande */
    margin-top: 16px; /* Espacio superior */
  }
  
  /* Estilos para los campos de formulario */
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  /* Estilos para los botones siguiendo el estilo del login */
 
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 1 0 33%;
    padding: 8px;
    margin: 0 8px;
  }
  
  @media (max-width: 768px) {
    .form-row {
      flex-direction: column;
    }
  }

  .mat-button {
    margin-right: 10px; /* Puedes ajustar el valor según el espacio deseado */
  }
  
  .icono-registro {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 13px; /* Agrega un margen superior al icono */
    vertical-align: middle;
  }
  .titulo-registro {
    
    display: inline-block;
    margin-top: -1px; 
    left: 100px;
  }