<div class="flex-wrapper">
  <mat-card>
    <mat-card-content class="content-flex">
      <img class="imagenReducida" mat-card-image src="assets/aprendiendo.png" alt="Descripción de la imagen">
      <div>
        <h1>Bienvenido, Docente</h1>
        <p>
          Estás en el panel de control del docente, donde puedes crear y gestionar pruebas para que tus estudiantes puedan medir sus conocimientos de manera efectiva. Comienza a compartir el conocimiento ahora.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

