<div class="flex-wrapper">
  <mat-card>
    <mat-card-content class="content-flex">
      <img class="imagenReducida" mat-card-image src="../../../../assets/logolibro.png" alt="Descripción de la imagen">
      <div>
        <h2>Listado de asignaturas</h2>
        <p>
          En este panel se visualiza el listado de todas las asignaturas registradas en el sistema
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>



<div class="categorias-container">
  <mat-card *ngFor="let c of categorias" class="categoria-card">
    <div class="card-content">
      
      <!-- Contenedor para la imagen y el título -->
      <div class="image-and-title">
        <div class="card-image">
          <img src="../../../../assets/books.png" alt="{{ c.titulo }}" class="categoria-image"/>
        </div>
        <mat-card-header>
          <mat-card-title>
            {{ c.titulo }}
          </mat-card-title>
        </mat-card-header>
      </div>
      
      <!-- Contenedor para la descripción -->
      <mat-card-content>
        <p>{{ c.descripcion }}</p>
      </mat-card-content>

      <!-- Acciones -->
     

    </div>
  </mat-card>
</div>
