
mat-card-content {
    padding: 100px 50px;
  }
  

  mat-list-item {
    background-color: #f5f5f5;
    margin: 10px 0; 
    padding: 40px; 
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  mat-list-item:hover {
    background-color: #e0e0e0;
    overflow: hidden;
     white-space: normal;
  }

  mat-icon {
    color: #3f51b5;
    font-size: 20px;
  }
  
 
  .container.text-center {
    margin-top: 30px;
  }

  .icon-title-container {
    display: flex;
    align-items: center; 
  }
  
  mat-icon {
    margin-right: 10px;
  }

  div[mat-subheader] {
    font-size: 1.5em;
    padding: 10px 0;
  }
  
  
  