<div class="flex-wrapper">
  <mat-card>
    <mat-card-content class="content-flex">
      <img class="imagenReducida" mat-card-image src="../../../../assets/logolibro.png" alt="Descripción de la imagen">
      <div>
        <h2>Listado de asignaturas</h2>
        <p>
          En este panel se visualiza el listado de todas las asignaturas registradas en el sistema
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>



<div class="categories-container">
  <mat-card *ngFor="let c of categorias" class="category-card">
    <img src="../../../../assets/asginatura.png" alt="{{ c.titulo }}" class="card-image"/>
    <div class="card-content">
      <mat-card-header>
        <mat-card-title class="card-title">
          {{ c.titulo }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-info">
        <p>{{ c.descripcion }}</p>
       
      </mat-card-content>
    </div>
  </mat-card>
</div>
