.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  width: 100%; /* Ocupa todo el ancho disponible */
}

/* Contenedor para todos los campos de datos personales */
.personal-container {
  display: flex; /* Usa flexbox para alinear los elementos en línea */
  justify-content: space-between; /* Espacia los elementos uniformemente */
  /* Ajusta la anchura y el margen como sea necesario */
}

.map-container.hidden {
  display:none;
}


.datos-personales-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,.12);
  border-radius: 4px;
}

mat-form-field {
  margin-right: 10px; /* Espacio entre los campos de entrada */
}

mat-form-field:last-child {
  margin-right: 0;
}

button.mat-raised-button {
  margin-top: 25px; /* Espacio por encima del botón */
}













.map-container {
  position: relative; /* Cambiado a relativo para posicionar los elementos relativamente a este contenedor */
  margin-top: 10px; /* Margen superior */
  width: 130%; /* Ahora es 100% en lugar de 1500px */
  height: 900px;
  right: 20%;
  background-color: #f0f0f0;
}

.rectangletitulo,
.rectangle_definition,
.rectangle_uno,
.rectangle_dos,
.rectangle_tres,
.rectangle_cuatro,
.horizontal-lineOne,
.horizontal-lineTwo,
.vertical-linePrincipal,
.vertical-lineOne,
.vertical-lineDos,
.vertical-lineTres,
.vertical-lineCuatro {
  position: absolute; /* Asegura el posicionamiento absoluto de los elementos */
  box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
}

.rectangletitulo {
  width: 200px;
  height: 50px;
  border: 2px solid rgb(33, 185, 12);
  padding: 10px;
  top: 5%;
  left: 40%;
}

#rectangleimput_titulo {
  width: 100%; /* Ocupa todo el ancho del rectángulo */
  height: 100%; /* Ocupa todo el alto del rectángulo */
  border: none; /* Sin borde para el input */
  outline: none; /* Sin contorno al recibir foco */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: transparent; /* Fondo transparente */
}

.rectangle_definition {
  width: 500px;
  height: 150px;
  border: 2px solid rgb(33, 185, 12);
  padding: 10px;
  top: 13%;
  left: 30%;
}

#rectangleimput_definition {
  width: 100%; /* Ocupa todo el ancho del rectángulo */
  height: 100%; /* Ocupa todo el alto del rectángulo */
  border: none; /* Sin borde para el input */
  outline: none; /* Sin contorno al recibir foco */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: transparent; /* Fondo transparente */
}

.rectangle_uno {
  width: 250px;
  height: 300px;
  border: 2px solid rgb(33, 185, 12);
  padding: 10px;
  top: 35%;
  left: 10%;
}

#rectangleimput_uno {
  width: 100%; /* Ocupa todo el ancho del rectángulo */
  height: 100%; /* Ocupa todo el alto del rectángulo */
  border: none; /* Sin borde para el input */
  outline: none; /* Sin contorno al recibir foco */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: transparent; /* Fondo transparente */
}

.rectangle_dos {
  width: 250px;
  height: 300px;
  border: 2px solid rgb(33, 185, 12);
  padding: 10px;
  top: 35%;
  left: 30%;
}

#rectangleimput_dos {
  width: 100%; /* Ocupa todo el ancho del rectángulo */
  height: 100%; /* Ocupa todo el alto del rectángulo */
  border: none; /* Sin borde para el input */
  outline: none; /* Sin contorno al recibir foco */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: transparent; /* Fondo transparente */
}

.rectangle_tres {
  width: 250px;
  height: 300px;
  border: 2px solid rgb(33, 185, 12);
  padding: 10px;
  top: 35%;
  left: 48%;
}

#rectangleimput_tres {
  width: 100%; /* Ocupa todo el ancho del rectángulo */
  height: 100%; /* Ocupa todo el alto del rectángulo */
  border: none; /* Sin borde para el input */
  outline: none; /* Sin contorno al recibir foco */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: transparent; /* Fondo transparente */
}

.rectangle_cuatro {
  width: 250px;
  height: 300px;
  border: 2px solid rgb(33, 185, 12);
  padding: 10px;
  top: 35%;
  left: 68%;
}

#rectangleimput_cuatro {
  width: 100%; /* Ocupa todo el ancho del rectángulo */
  height: 100%; /* Ocupa todo el alto del rectángulo */
  border: none; /* Sin borde para el input */
  outline: none; /* Sin contorno al recibir foco */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: transparent; /* Fondo transparente */
}


.horizontal-lineOne {
  border-top: 3px solid black;
  width: 13%;
  left: 17%;
  top: 20%;
  transform: translateY(-50%);
}

.horizontal-lineTwo {
  border-top: 3px solid black;
  width: 11.2%;
  left: 64.5%;
  top: 20%;
  transform: translateY(-50%);
}

.vertical-linePrincipal {
  width: 2px;
  height: 2.5%;
  background-color: black;
  left: 47.2%;
  top: 10.5%;
}

.vertical-lineOne {
  width: 2px;
  height: 14.5%;
  background-color: black;
  left: 17%;
  top: 20.5%;
}

.vertical-lineDos {
  width: 2px;
  height: 5.5%;
  background-color: black;
  left: 38.5%;
  top: 29.5%;
}

.vertical-lineTres {
  width: 2px;
  height: 5.5%;
  background-color: black;
  left: 56%;
  top: 29.5%;
}

.vertical-lineCuatro {
  width: 2px;
  height: 14.5%;
  background-color: black;
  left: 75.6%;
  top: 20.5%;
}


#rectangleimput_definition,
#rectangleimput_uno,
#rectangleimput_dos,
#rectangleimput_tres,
#rectangleimput_cuatro {
  width: 100%; 
  height: 100%; /* Ocupa todo el alto del rectángulo */
  border: none; /* Sin borde para el input */
  outline: none; /* Sin contorno al recibir foco */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: transparent; /* Fondo transparente */
  white-space: pre-wrap; /* Ajusta el texto al contenedor */
  text-align: justify; /* Justifica el texto */
  overflow: hidden; /* Oculta el texto que excede el tamaño del contenedor */
  resize: none; /* Evita que el usuario redimensione el input */
}


.loading-message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
