<div class="login-wrapper">
  <div class="login-container">
    <mat-card class="login-card">
      <div class="card-content">
        <div class="image-section">
          <!-- Asumiendo que tienes una imagen llamada 'login-image.png' en tu carpeta de assets -->
          <img src="../../../assets/acceso.png" alt="Login" class="login-image" />
        </div>
        <div class="form-section">
          <h1 class="login-title">Iniciar Sesión</h1>
          <form (ngSubmit)="formSubmit()" class="login-form">
            <mat-form-field class="full-width">
              <input
                [(ngModel)]="loginData.username"
                name="username"
                required
                matInput
                placeholder="Nombre de usuario"
              />
            </mat-form-field>

            <mat-form-field class="full-width">
              <input
                [(ngModel)]="loginData.password"
                name="password"
                required
                type="password"
                matInput
                placeholder="Contraseña"
              />
            </mat-form-field>

            <button mat-flat-button color="primary" class="login-btn">
              Entrar
            </button>
            <div class="additional-options">
              <a  class="forgot-password">Olvidé mi contraseña</a>
              <a [routerLink]="'/signup'" class="create-account">¿Sin cuenta? ¡Crear una ahora!</a>
            </div>

            <div class="social-login">
              <button mat-button class="social-btn google">G+</button>
              <button mat-button class="social-btn facebook">f</button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
