<mat-card style="margin-left: 1px;">
    <h1>Componentes Básicos del Computador</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="row">
                    <!-- Primera fila -->
                    <div class="col-md-6">
                        <h2>1. Componentes Básicos</h2>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6fz1Mjv_VHc" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <h2>2. Hardware</h2>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/-jyNtg6JGRM" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <!-- Segunda fila -->
                    <div class="col-md-6">
                        <h2>3. Software</h2>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/KysawushRV8" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <h2>4. Hardware vs Software</h2>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6DcGWI7Z3XE" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row">
                    <!-- Tercera fila -->
                    <div class="col-md-6">
                        <h2>5. Dispositivos de entrada y salida</h2>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/unyZ8yNpBV8" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>