<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <mat-card class="custom-card">
        <div class="header">
          <img src="../../../../assets/manual.png" alt="Imagen Representativa" class="corner-image">
        </div>
        <mat-card-content class="ml30">
          <h1 class="title">{{ examen.titulo }}</h1>
          <p class="description">{{ examen.descripcion }}</p>
          <mat-divider></mat-divider>
          <br>
          <h2 class="sub-title">Instrucciones importantes</h2>
          <ul>
            <li class="instruction">Este cuestionario es para evaluar los conocimientos del estudiante.</li>
            <li class="instruction">Puede intentar el cuestionario cualquier cantidad de veces.</li>
            <li class="instruction">Hay <b>{{ examen.puntosMaximos/examen.numeroDePreguntas }} puntos por pregunta</b></li>
          </ul>
          <mat-divider></mat-divider>
          <br>
        </mat-card-content>
        <mat-card-actions class="buttons-header">
          <button (click)="empezarExamen()" pButton type="button" icon="pi pi-play" label="Comenzar prueba" class="p-button-raised p-button-secondary align-button mr-2"
         ></button>
          <button (click)="regresar()" pButton type="button"  label="Regresar" icon="pi pi-arrow-circle-left" ></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
