<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Sistema recomendador para mejorar el aprendizaje de fundamentos de informática</h1>
               <img src="../../../assets/aprendizaje-digital.png" width="400px" height="400px" style="left: 50px;">
               <!-- <button mat-raised-button color="primary">Inicio</button>-->
            </div>
        </div>
    </div>
    
</div>

