<div class="bootstrap-wrapper">
    <div class="container-fluid">
      <h1>Recursos de Apoyo</h1>
      <h3>¡Descubre nuestro módulo de Recursos! Aquí encontrarás videos seleccionados para potenciar tus conocimientos en informática.
         ¡No te lo pierdas y dale un impulso a tu aprendizaje!"</h3>
      <div class="row mt20" >
        <div class="col-md-6">
          <mat-card class="mb20">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
              </div>
              <mat-card-title>
                Componentes Básicos del Computador
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h4>En este módulo, encontrarás recursos adicionales que te ofrecerán un 
              entendimiento más profundo sobre los componentes básicos del computador.</h4>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="accent" 
              style="width: 1000px;"  routerLink = "/user-dashboard/module-one">Ver</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="col-md-6">
            <mat-card class="mb20">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                </div>
                <mat-card-title>
                  Sistemas Operativos
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h4>En este módulo, descubrirás recursos adicionales que te brindarán una comprensión 
                detallada sobre los sistemas operativos y su funcionamiento esencial.</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button color="accent" 
                style="width: 1000px;">Ver</button>
                
              </mat-card-actions>
            </mat-card>
          </div>

          <div class="col-md-6">
            <mat-card class="mb20">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                </div>
                <mat-card-title>
                  Internet
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h4>En este módulo, encontrarás recursos adicionales que te guiarán a través del vasto mundo 
                de Internet y su impacto en la comunicación y la tecnología moderna.</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button color="accent" 
                style="width: 1000px;">Ver</button>
                
              </mat-card-actions>
            </mat-card>
          </div>

          <div class="col-md-6">
            <mat-card class="mb20">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                </div>
                <mat-card-title>
                  Ofimatica
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h4>En este módulo, se proporcionan recursos adicionales para profundizar en la 
                  ofimática, abordando sus herramientas esenciales y su rol en  la optimización 
                  de tareas de los estudiantes. </h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button color="accent" 
                style="width: 1000px;">Ver</button>
                
              </mat-card-actions>
            </mat-card>
          </div>

          <div class="col-md-6">
            <mat-card class="mb20">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                </div>
                <mat-card-title>
                  Historia de la Informatica
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h4>En este módulo, encontrarás recursos adicionales que te llevarán por un viaje a través de la evolución y el 
                desarrollo de la informática, desde sus inicios hasta la era digital actual.</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button color="accent" 
                style="width: 1000px;">Ver</button>
              </mat-card-actions>
            </mat-card>
          </div>
          
      </div>
    </div>
  </div>
  