<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Exam Management</title>
</head>
<body>

<div class="search-container">
  <input type="text" id="searchBox" placeholder="Buscar por título del examen" oninput="filtrarExamenes()">
</div>

<div class="cards-container">
  <!-- Dynamic card generation start -->
  <div class="card" *ngFor="let e of examenesFiltrados">
    <div class="card-header">
      <h2 class="card-title">{{ e.titulo }}</h2>
      <h3 class="card-subtitle">{{ e.categoria.titulo }}</h3>
    </div>
    <div class="card-body">
      <button class="btn primary"[routerLink] = "'/admin/ver-preguntas/'+e.examenId+'/'+e.titulo">Preguntas</button>
      <button class="btn info" [disabled]="true">Puntos máximos {{ e.puntosMaximos }}</button>
      <button class="btn info" [disabled]="true">Preguntas {{ e.numeroDePreguntas }}</button>
      <button  [routerLink] = "'/admin/cuestionario/'+e.examenId" class="btn secondary">Actualizar</button>
      <button class="btn danger" onclick="eliminarExamen(examen)">Eliminar</button>
    </div>
  </div>
  <!-- Dynamic card generation end -->
</div>

<button id="addButton" onclick="agregarCuestionario()">Agregar cuestionario</button>
</body>
</html>
