<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
      </button>
      <button mat-list-item routerLink = "/admin/categorias">
        <mat-icon mat-list-icon>list</mat-icon>Categorias
      </button>
     
      <button mat-list-item routerLink = "/admin/examenes">
        <mat-icon mat-list-icon>quizz</mat-icon>Cuestionarios
      </button>
     

    </mat-action-list>
  </mat-card>
  
