<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <img src="../../../../assets/libros.png" class="menu-icon"/> <!-- Imagen personalizada para Mis asignaturas -->
            <mat-panel-title routerLinkActive="active-link">
              Mis asignaturas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/admin/asignaturas" routerLinkActive="active-link">
            <span>Listado de asignaturas</span>
          </a>
          <a mat-list-item routerLink="/admin/add-asignatura" routerLinkActive="active-link">
            <span>Agregar asignatura</span>
          </a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <img src="../../../../assets/cuestionario.png" class="menu-icon"/>
            <mat-panel-title routerLinkActive="active-link">
              Cuestionarios
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/admin/cuestionarios" routerLinkActive="active-link">
            <span>Listado de cuestionarios</span>
          </a>
          <a mat-list-item routerLink="/admin/add-cuestionario" routerLinkActive="active-link">
            <span>Crear Cuestionario</span>
          </a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <img src="../../../../assets/recursoseducativos.png" class="menu-icon"/>
            <mat-panel-title routerLinkActive="active-link">
              Recursos educativos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/admin/recursos-educativos" routerLinkActive="active-link">
            <span>Ver recursos</span>
          </a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <img src="../../../../assets/usuario.png" class="menu-icon"/>
            <mat-panel-title routerLinkActive="active-link">
              Mis datos personales
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/admin/datos-personales" routerLinkActive="active-link">
            <span>Ver datos personales</span>
          </a>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>
