<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidone">
    <mat-nav-list appAccordion class="accordion">
    
      <mat-card class="menu-card" routerLink="/admin/asignaturas"routerLinkActive="active-link">
          <div class="menu-item">
            <img src="../../../../assets/biblioteca.png" class="menu-icon"/> <!-- Add your icon here -->
            <mat-card-content class="menu-content">
              <mat-card-title>Mis asignaturas</mat-card-title>
              <mat-card-subtitle>Gestiona tus asignaturas, cuestionarios y recursos</mat-card-subtitle>
            </mat-card-content>
          </div>
        </mat-card>
        <br>
        <mat-card class="menu-card" routerLink="/admin/cuestionarios" routerLinkActive="active-link">
          <div class="menu-item">
            <img src="../../../../assets/menu2.png" class="menu-icon"/> <!-- Add your icon here -->
            <mat-card-content class="menu-content">
              <mat-card-title>Mis Cuestionarios</mat-card-title>
              <mat-card-subtitle> Crea y visualiza tus cuestionarios</mat-card-subtitle>
            </mat-card-content>
          </div>
        </mat-card>
        <br>
        <mat-card class="menu-card" routerLink="/admin/recursos-educativos" routerLinkActive="active-link">
          <div class="menu-item">
            <img src="../../../../assets/recursoseducativos.png" class="menu-icon"/> <!-- Add your icon here -->
            <mat-card-content class="menu-content">
              <mat-card-title>Mis Recursos</mat-card-title>
              <mat-card-subtitle>Comparte tus recursos educativos</mat-card-subtitle>
            </mat-card-content>
          </div>
        </mat-card>
        <br>
        <mat-card class="menu-card" routerLink="/admin/profile" routerLinkActive="active-link">
          <div class="menu-item">
            <img src="../../../../assets/usuario.png" class="menu-icon"/> <!-- Add your icon here -->
            <mat-card-content class="menu-content">
              <mat-card-title>Mis Datos Personales</mat-card-title>
              <mat-card-subtitle>Revisa tu información personal</mat-card-subtitle>
            </mat-card-content>
          </div>
        </mat-card>
</mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content goes here -->
  </mat-sidenav-content>
</mat-sidenav-container>
