.test-form-card {
  max-width: 800px;
  margin: 0 auto;
  padding: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.test-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
  margin-bottom: 5px;
}

.half-width {
  width: calc(50% - 10px);
  margin-right: 20px;
}

.form-row {
  display: flex;
  margin-bottom: 5px;
}

.publish-toggle {
  margin-bottom: 5px;
}

.titulo{
  text-align: center;
}

.submit-container {
  text-align: center;
}

.submit-container button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.spacer {
  flex: 1;
}

.button-margin {
  margin-left: 10px;
}