<br>
<mat-card class="test-form-card">
  <form *ngIf = "examen" (submit) = "actualizarDatos()" class="test-form">
    <h2 class="titulo">Actualizar Cuestionario</h2>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="examen.titulo" name="titulo" required placeholder="Ej: Matemáticas Avanzadas">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput [(ngModel)]="examen.descripcion" name="descripcion" rows="4" placeholder="Ej: Examen final del curso de matemáticas."></textarea>
    </mat-form-field>
    <div class="form-row">
      <mat-form-field class="half-width" appearance="fill">
        <mat-label>Puntos máximos</mat-label>
        <input matInput [(ngModel)]="examen.puntosMaximos" name="puntosMaximos" placeholder="Ej: 100">
      </mat-form-field>
      <mat-form-field class="half-width" appearance="fill">
        <mat-label>Número de preguntas</mat-label>
        <input matInput [(ngModel)]="examen.numeroDePreguntas" name="numeroDePreguntas" placeholder="Ej: 20">
      </mat-form-field>
    </div>
    <mat-slide-toggle class="publish-toggle" [(ngModel)]="examen.activo" name="activo" color="accent">
      Estado de publicación
    </mat-slide-toggle>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Eliga la Asignatura</mat-label>
      <mat-select [(ngModel)]="examen.categoria.id" name="categoria" color="accent">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.titulo}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-container">
      <div class="spacer"></div>
       <button mat-raised-button color="primary" type="submit">Guardar</button>
      <div class="button-margin"></div>
      <button mat-raised-button color="warn" (click)="CloseModal()" type="reset">Cancelar</button>
    </div>
  </form>
</mat-card>

