<h1 class="page-title">Preguntas de {{ titulo }}</h1>
<div class="questions-container">
  <div class="button-container">
    <button mat-raised-button color="primary" [routerLink]="'/admin/add-pregunta/' + examenId + '/' + titulo">
      Agregar pregunta
    </button>
    <button mat-raised-button color="primary" (click)="openDialog()">
      Deseo imprimir las preguntas
    </button>
  </div>
  <div class="question-cards">
    <mat-card *ngFor="let p of preguntas; let i = index" class="question-card">
      <mat-card-content>
        <p class="question-number"><b>{{ i + 1 }})</b></p>
        <p class="question-content">{{ p.contenido }}</p>
        <div class="options">
          <div class="option">
            <p><b>1) {{ p.opcion1 }}</b></p>
          </div>
          <div class="option">
            <p><b>2) {{ p.opcion2 }}</b></p>
          </div>
          <div class="option">
            <p><b>3) {{ p.opcion3 }}</b></p>
          </div>
          <div class="option">
            <p><b>4) {{ p.opcion4 }}</b></p>
          </div>
        </div>
        <mat-divider></mat-divider>
        <p class="correct-answer">
          <b>Respuesta correcta: {{ p.respuesta }}</b>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="eliminarPregunta(p.preguntaId)" color="warn">Eliminar</button>
        <button mat-button [routerLink]="'/admin/pregunta/' + p.preguntaId" color="primary">Actualizar</button>
        
      </mat-card-actions>
    </mat-card>
   
  </div>
  
</div>
