<div class="flex-wrapper">
  <mat-card>
    <mat-card-content class="content-flex" fxLayout="row" fxLayoutAlign="space-between">
      <img class="imagenReducida" mat-card-image src="../../../../assets/menu2.png" alt="Descripción de la imagen">
      <div style="margin-top: 10px; text-align: center;">  <h2 class="titulo p-text-uppercase p-text-bold">Preguntas de {{titulo}}</h2>
      </div>
      <div class="buttons-header">
        <button pButton type="button" icon="pi pi-arrow-circle-left"  [routerLink]="['/admin/cuestionarios']"></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
  
<div class="questions-container">
  <div class="button-container">
    <button pButton label="Agregar pregunta" icon="pi pi-plus" class="p-button-secondary" [routerLink]="'/admin/add-pregunta/' + examenId + '/' + titulo"></button>
    <button pButton label="Deseo imprimir las preguntas" icon="pi pi-print" class="p-button-secondary" (click)="openDialog()"></button>
  </div>
  <p-accordion>
    <p-accordionTab *ngFor="let p of preguntas; let i = index" header="{{ i + 1 }}) {{ p.contenido }}">
      <div class="options">
        <ul>
          <li><b>1) {{ p.opcion1 }}</b></li>
          <li><b>2) {{ p.opcion2 }}</b></li>
          <li><b>3) {{ p.opcion3 }}</b></li>
          <li><b>4) {{ p.opcion4 }}</b></li>
        </ul>
      </div>
      <mat-divider></mat-divider>
      <p class="correct-answer">
        <b>Respuesta correcta: {{ p.respuesta }}</b>
      </p>
      <div class="action-buttons">
        <button mat-mini-fab color="warn" (click)="eliminarPregunta(p.preguntaId)" matTooltip="Eliminar pregunta">
          <mat-icon>delete_outline</mat-icon>
        </button>
        <button mat-mini-fab color="primary" [routerLink]="'/admin/pregunta/' + p.preguntaId" matTooltip="Actualizar pregunta">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
