


<div class="container">
  <br>
  <h1 style="font-size: 20px; text-align: center;">Compartir Recursos Educativos</h1>
  <p style="font-size: 15px;">
    Sube archivos con extensiones PDF, XLS, DOCX, PTTX, etc.
  </p>
  <mat-card class="card">
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Eliga la Asignatura</mat-label>
        <mat-select [(ngModel)]="categoriaId" name="categoria">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.titulo}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="file-upload">
        <label for="fileInput" class="file-label">
          <mat-icon class="icon">attach_file</mat-icon>
          Seleccionar Archivo
        </label>
        <input id="fileInput" type="file" class="file-input" (change)="onFileSelected($event)">
        <span class="file-name">{{ selectedFileName }}</span>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" class="upload-button" (click)="onUpload()">Subir Archivo</button>
    </mat-card-actions>
  </mat-card>
 <br>
  <div class="button-container">
    <div class="spacer"></div>
    
    <div class="button-margin"></div>
    <button mat-raised-button color="warn" (click)="CloseModal()" type="reset">Cancelar</button>
  </div>
</div>
